# Environment variables
.env
.env.local


.ipynb_checkpoints
.langgraph-data
.langgraph_api
.langgraph_api/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*/__pycache__/
*/__pycache__/*
*$py.class
*$py.class/*

# LangGraph
.langgraph-data
.langgraph_api
.langgraph_api/*

.DS_Store
